In [262]:
def lesser_of_two_evens(a,b):
    return min(a,b) if a%2==0 and b%2==0 else max(a,b)
    #if a%2==0 and b%2==0:
        #return a if a<b else b
   #     return min(a,b)
   # else:
        #return a if a>b else b
  #      return max(a,b)

In [263]:
lesser_of_two_evens(10,6)

6

In [264]:
lesser_of_two_evens(2,6)

2

In [265]:
lesser_of_two_evens(2,5)

5

In [10]:
def animal_crackers(text):
    split =  text.split(' ')
    return split[0].lower()[0] == split[1].lower()[0]

In [12]:
animal_crackers('john jeter')

True

In [13]:
animal_crackers('john peter')

False

In [14]:
def makes_twenty(n1,n2):
    if 20 in [n1,n2]:
        return True
    else:
        return n1+n2==20

In [15]:
makes_twenty(1,2)

False

In [21]:
makes_twenty(15,5)

True

In [22]:
makes_twenty(1,20)

True

In [32]:
def old_macdonald(name):
    return name[:3].capitalize()+name[3:].capitalize()

In [33]:
old_macdonald('macdonald')

'MacDonald'

In [70]:
def master_yoda(text):
    return (' ').join(text.split(' ')[::-1])

In [71]:
master_yoda('We are ready')

'ready are We'

In [72]:

# Check
master_yoda('I am home')

'home am I'

In [88]:
def almost_there(n):
    return abs(n-100) <=10 or abs(n-200) <=10

In [89]:
almost_there(104)

True

In [90]:
almost_there(150)

False

In [91]:
almost_there(209)

True

In [98]:
the_list = [1, 3, 3]
first = the_list.index(3)

print (the_list[first+1]==3)

True

In [128]:
def has_33(nums):
    count = 0
    while count < len(nums)-1:
        num = nums[count]
        if num ==3:
            print('found a 3')
            if nums[count+1] == 3:
                print('3 next to 3')
                return True
        count += 1
        print (num)
    return False

In [129]:
has_33([1, 3, 3])

1
found a 3
3 next to 3

True

In [130]:
has_33([1, 3, 1, 3])

1
found a 3
3
1

False

In [131]:
has_33([3, 1, 3])

found a 3
3
1

False

In [132]:
has_33([3, 1, 3, 2, 3, 4, 3, 3])

found a 3
3
1
found a 3
3
2
found a 3
3
4
found a 3
3 next to 3

True

In [137]:
def paper_doll(text):
    return ''.join([t*3 for t in text])

In [138]:
paper_doll('Hello')

'HHHeeellllllooo'

In [139]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [266]:
def blackjack(a,b,c):
    nums = [a,b,c]
    total = sum(nums)
    if total<=21:
        return total
    else:
        if 11 in nums:
            total = total-10
        if total<=21:
            return total
        else:
            return 'BUST'

In [267]:
# Check
blackjack(5,6,7)

18

In [268]:
blackjack(9,9,9)

'BUST'

In [269]:
blackjack(9,9,11)

19

In [166]:
def summer_69(arr):
    total = 0
    start = 0
    end = 0
    count = True
    for x in arr:
        if x==6:
            count = False
            
        elif count == False:
            if x==9:
                count = True
            else:
                pass
        else:
            total+=x            
    return total

In [167]:
summer_69([1, 3, 5])

9

In [178]:
summer_69([4, 5, 6, 7, 8, 9, 10, 3, 6, 7, 13, 9, 12])

34

In [179]:
summer_69([2, 1, 6, 9, 11])

14

In [225]:
def spy_game(nums):
    
    def isOo7(compare):
        return [0,0,7] == compare or [0,0,7] == compare[-3:]

    oo7 = []
    
    for n in nums:
        if n in [0,7]:
            oo7.append(n)
            
        if isOo7(oo7):
            return True
        
    return isOo7(oo7)

In [226]:
spy_game([1,2,4,0,0,7,5])

True

In [227]:
spy_game([1,0,2,4,0,5,7])

True

In [228]:
spy_game([1,7,2,0,4,5,0])

False

In [229]:
spy_game([1,7,2,0,4,5,0, 12, 3, 4, 40, 'o', 7])

True

In [230]:
spy_game([1,7,2,0,4,5,0, 12, 3, 4, 40, 'o', 7,8,9,0,7])

True

In [255]:
def count_primes(nums):
    primes = []
    for num in range(2,nums):

        for i in range(2,num):
            if num%i == 0:
                break
        else:
            primes.append(num)
    print(primes)
    return len(primes)

In [256]:
count_primes(21)

[2, 3, 5, 7, 11, 13, 17, 19]

8

In [257]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25