In [1]:
#methods are functions built into objects.
the_list = [1,2,34]
the_list.append(5)
the_list.pop(2)
the_list

[1, 2, 5]

In [2]:
the_list.insert #shift Tab in jupyter notebooks or help
help(the_list.insert )

Help on built-in function insert:

insert(...) method of builtins.list instance
    L.insert(index, object) -- insert object before index

In [3]:
#docs.python.org: help including tutorials. 
#Library reference is your friend:https://docs.python.org/3/library/index.html

In [4]:
#=========Introduction to functions===========

def named_hello(name):
    print("Hello "+name)
named_hello("Peter")

Hello Peter

In [5]:
def is_even(num):
    return num%2 ==0

In [6]:
is_even(20)

True

In [7]:
is_even(11)

False

In [17]:
#check if list contains an even number
def even_in_list(my_list):
    for x in my_list:
        if x%2 ==0:
            return True
    return False

In [18]:
even_in_list([1,2,3,4,5,6,7])

True

In [19]:
even_in_list([1,3,5,7])

False

In [20]:
#return all even numbers in a list
def list_of_even(my_list):
    even_list = []
    for x in my_list:
        if x%2 ==0:
            even_list.append(x)
    return even_list

In [21]:
list_of_even([1,2,3,4,5,6,7])

[2, 4, 6]

In [22]:
#Tuple unpacking to return multiple values from a function
stock_prices = [('APPLE', 200), ('GOOG', 400), ('MSFT', 100)]

In [23]:
for item in stock_prices:
    print(item)

('APPLE', 200)
('GOOG', 400)
('MSFT', 100)

In [24]:
for ticker, price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [28]:
work_hours = [('Abby', 100), ('Billy', 4900), ('Cassie', 800)]

In [29]:
def employee_check(work_hours):
    current_max = 0
    employee_of_the_month=''
    for employee, hours in work_hours:
        if hours > current_max:
            current_max=hours
            employee_of_the_month=employee
    return employee_of_the_month, current_max

In [32]:
emp, hours = employee_check(work_hours)
emp

'Billy'

In [36]:
def myfunc(a,b):
    return sum((a,b))*0.05

In [37]:
myfunc(40,60)

5.0

In [41]:
#Taking in many arguments
def myfunc(*args): #Conventionally args but could be any other name. As long as has *
    print(args)
    return sum(args)*0.05

In [42]:
myfunc(1,2,3,4,54,5,6,7,7,8,8,9,4,8,9,4,3,23)

(1, 2, 3, 4, 54, 5, 6, 7, 7, 8, 8, 9, 4, 8, 9, 4, 3, 23)

8.25

In [45]:
def myfunc(**kwargs):#Conventionally args but could be any other name. As long as has ** for keyword pairs
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('No fruit found')

In [46]:
myfunc(fruit='apple')

My fruit of choice is apple

In [49]:
def myfunc(*args, **kwargs): #Arguments must come first then followed by key word arguments just because that's how we have set it.
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [50]:
myfunc(10,20,30, fruit='orange', food='eggs', animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs