Execute code on condition

In [1]:
if True:
    print(True)

True

In [3]:
if 3>2:
    print (True)

True

In [5]:
hungry = False
if hungry:
    print (True)
else:
    print(False)

False

In [6]:
loc = 'Bank'
if loc == 'Garage':
    print ('Car')
elif loc == 'Bank':
    print ('money')
else:
    print('location unknown')

money

In [7]:
name = ''

if name == 'Frankie':
    print('Hello Frankie')
else:
    print('Hello Guest')

Hello Guest

Iterables enable us to do something to each item in it in a loop. So anything that can be looped over with a for loop is an iterable, and sequences are one type of iterable, but Python has many other kinds of iterables as well.

In [14]:
my_list = [num for num in range(11)]

In [17]:
for num in my_list:
    print(str(num)+" jelly babies.")

0 jelly babies.
1 jelly babies.
2 jelly babies.
3 jelly babies.
4 jelly babies.
5 jelly babies.
6 jelly babies.
7 jelly babies.
8 jelly babies.
9 jelly babies.
10 jelly babies.

In [20]:
for num in my_list:
    if num%2 == 0:
        print(str(num) +" is even")

0 is even
2 is even
4 is even
6 is even
8 is even
10 is even

In [21]:
sum_odd = 0

for num in my_list:
    if (num%2!=0):
        sum_odd+=num
        print("sum now="+str(sum_odd))

sum now=1
sum now=4
sum now=9
sum now=16
sum now=25

In [23]:
for letter in "Hello World":
    print (letter)

H
e
l
l
o

W
o
r
l
d

tuples have tuple unpacking in for loops

In [29]:
tups = [(1,2), (3,4), (5,6), (7,8)]

In [35]:
sum_a =0
sum_b =0
for (a,b) in tups:
    sum_a+=a
    sum_b+=b
print ("sum of index 0="+str(sum_a)+", sum of index 1="+str(sum_b))

sum of index 0=16, sum of index 1=20

In [37]:
for numbers in {1:"one", 2:"two", 3:"three"}:
    print(numbers)#iterates through keys by default

1
2
3

In [38]:
for numbers in {1:"one", 2:"two", 3:"three"}.items():
    print(numbers)#now using tuple unpacking

(1, 'one')
(2, 'two')
(3, 'three')

In [39]:
for numbers in {1:"one", 2:"two", 3:"three"}.values():
    print(numbers)#just values

one
two
three

Dictionaries are not ordered

while loop will continue to execute as long as a condition

In [43]:
x = 6
while x<=5:
    print(f'x is now {x}')
    x+=1
else:
    print(f'{x} is > 5')

6 is > 5

break - goes out of current closest enclosing loop
continue - goes to the top of the closest enclosing loop.
pass - does nothing and allows code to proceed.

In [88]:
x = 10
running = True
while running:
    if x == 5:
        pass
    while x>5:
        print(f'Rocket launch in {x} minutes.','.'*x)        
        x-=1

    while x >= 4:
        if x==3:
            continue
        else:
            print(f'WARNING {x} parrots flew past.','*'*x)
            x-=1
    print('Launch in...')            
    while x<=3:
        if x==0:
            running=False
            break
        else:
            print(x,"*"*x)
            x-=1
    print('***Crash***')

Rocket launch in 10 minutes. ..........
Rocket launch in 9 minutes. .........
Rocket launch in 8 minutes. ........
Rocket launch in 7 minutes. .......
Rocket launch in 6 minutes. ......
WARNING 5 parrots flew past. *****
WARNING 4 parrots flew past. ****
Launch in...
3 ***
2 **
1 *
***Crash***

Useful operators in Python

Range

In [90]:
my_list = []
for x in range(10):
    my_list.append(x)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
#simplified
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
[x for x in range(5,10)] #don't have to start from zero

[5, 6, 7, 8, 9]

In [93]:
[x for x in range(0,10,2)]

[0, 2, 4, 6, 8]

In [97]:
[x for x in range(10,0,-2)]

[10, 8, 6, 4, 2]

enumerate

In [101]:
my_list = [x for x in range(0,20,3)]

In [103]:
for _, number in enumerate(my_list):
    print (_, number) # There we have the index and values

0 0
1 3
2 6
3 9
4 12
5 15
6 18

zip: pair up lists. Works up to the shortest of the lists

In [107]:
for item in zip([1,2,3,4,5], [11,12,13,14,15], [21, 22,23]):
    print (item)

(1, 11, 21)
(2, 12, 22)
(3, 13, 23)

In [114]:
for (one, two, three) in zip([1,2,3,4,5], [11,12,13,14,15], [21, 22,23]):
    print (three)

21
22
23

In [112]:
threes=[]
for items in zip([1,2,3,4,5], [11,12,13,14,15], [21, 22,23]):
    threes.append(three)
print(threes)

[21, 22, 23]

In [1]:
1 in [1,2,3,4]

True

In [2]:
'a' in ['hello']

False

In [3]:
1 in {1:'one', 2:'two'}

True

In [5]:
numbers = [12,3,76,3,8,0,]

In [6]:
min(numbers)

0

In [7]:
max(numbers)

76

In [8]:
from random import shuffle

In [11]:
shuffle(numbers)
numbers

[76, 0, 12, 3, 8, 3]

In [12]:
shuffle(numbers)
numbers

[76, 3, 0, 8, 3, 12]

In [14]:
from random import randint

In [19]:
randint(1,10)

7

In [29]:
randomNumbers = []
#rounded way of getting 1-10
while len(set(randomNumbers))<10:
    randomNumbers.append(randint(0,10))
    randomNumbers = list(set(randomNumbers))
print (sorted(randomNumbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 10]

In [33]:
#Getting user input
result=input("What do you want to see? ")

What do you want to see? 45

In [36]:
type(result)#input is always string

str

In [40]:
#List comprehension
hello = 'hello'
hello = ['*'+letter for letter in hello]
hello

['*h', '*e', '*l', '*l', '*o']

In [44]:
[i**2 for i in range(0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
celcius=[0,10,20,35]

In [50]:
#Convert to fahrenheit
fahreinheit = [((9/5)*temp +32) for temp in celcius]
fahreinheit

[32.0, 50.0, 68.0, 95.0]

In [54]:
#calculatr area and display alongside the radius so using two list comprehensions
radius = [5,10,15,25]
area = [ item for item in zip(radius,[r**2*22/7 for r in radius])]
area

[(5, 78.57142857142857),
 (10, 314.2857142857143),
 (15, 707.1428571428571),
 (25, 1964.2857142857142)]

In [65]:
#adding conditions
scores = [1,2,3,4,5,6,7,8,9,10]
percent = [int(score/10*100) for score in scores]
A = ['A-'+str(score) for score in percent if score>80]
A

['A-90', 'A-100']

In [70]:
#nested list comprehension [Perhaps losing readability]
As = ['A-'+str(score) for score in [int(score/10*100) for score in scores] if score>80]
As

['A-90', 'A-100']

In [113]:

#Use for, .split(), and if to create a Statement that will print out words that start with 's':

words = 'Print only the words that start with s in this sentence'
for word in words.split(' '):
    if word.lower().startswith('s'):
        print(word)

start
s
sentence

In [115]:
#Use range() to print all the even numbers from 0 to 10.
for n in range(0,11):
    if n%2==0:
        print(n)

0
2
4
6
8
10

In [116]:
#Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
[ n for n in range(1,51) if n%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [95]:
#Go through the string below and if the length of a word is even print "even!"

words = 'Print every word in this sentence that has an even number of letters'
for word in words.split(' '):
    word_length = len(word)
    if word_length%2==0:
        print(word+f' letter count is {word_length} which is even')

word letter count is 4 which is even
in letter count is 2 which is even
this letter count is 4 which is even
sentence letter count is 8 which is even
that letter count is 4 which is even
an letter count is 2 which is even
even letter count is 4 which is even
number letter count is 6 which is even
of letter count is 2 which is even

In [107]:

#Write a program that prints the integers from 1 to 100. 
#But for multiples of three print "Fizz" instead of the number, 
#and for the multiples of five print "Buzz". 
#For numbers which are multiples of both three and five print "FizzBuzz".
fizz = []
buzz = []
fizzBuzz = []
others = []
for num in range(1,101):
    if(num%3==0 and num%5==0):
        fizzBuzz.append(num)
    elif num%3==0:
        fizz.append(num)
    elif num%5==0:
        buzz.append(num)
    else:
        others.append(num)
print({'fizzBuzz':fizzBuzz, 'fizz':fizz, 'buzz':buzz, 'others':others})

{'fizzBuzz': [15, 30, 45, 60, 75, 90], 'fizz': [3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99], 'buzz': [5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100], 'others': [1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]}

In [111]:
#Use List Comprehension to create a list of the first letters of every word in the string below:
words = 'Create a list of the first letters of every word in this string'
letters = [word[0] for word in words.split(' ')]
print(letters)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']