Python obect and data structure basics
=====================
Integers - int
Floating - point
Strings - str
Lists - list
Dictionaries - dict
Tuples - tup
Sets - set
Booleans - bool

Numbers: Integers and floating numbers

In [4]:
2+10*10+3

105

In [5]:
(2+10)*(10+3)

156

Variable assignments

dynamic data typing

In [17]:
my_var=5

In [18]:
print(my_var)

5

In [19]:
my_var="my_var"

In [20]:
print(my_var)

my_var

In [21]:
a = 5

In [22]:
a

5

In [23]:
a = 10

In [24]:
a

10

In [25]:
a+a

20

In [26]:
a = a+a

In [27]:
a

20

In [28]:
a = a+a

In [29]:
a

40

In [30]:
type(a)

int

In [31]:
income=100
rate=0.1
tax=income*rate

In [32]:
tax

10.0

Strings

Strings can be indexed as they are a sequence of characters

You can also use reverse indexing

In [35]:
"banana"[2:-1]

'nan'

In [36]:
'hello'

'hello'

In [37]:
"world"

'world'

In [38]:
"I'm going for a run" #mixed

"I'm going for a run"

In [39]:
print("hello") #quotes gone

hello

In [41]:
print('hello world\nAm python') #escape sequences

hello world
Am python

In [42]:
len('hello') #get length

5

String indexing and slicing

In [60]:
my_string="Hello World"

In [61]:
my_string[-3] #first char

'r'

In [62]:
my_string[-1] #last char with reverse indexing

'd'

In [63]:
my_string="Hello World Today"

In [64]:
my_string[6:] #starting

'World Today'

In [65]:
my_string[:5] #Just hello

'Hello'

In [66]:
my_string[6:11]#Just world

'World'

In [67]:
my_string[::3] #skip in 3s

'HlWlTa'

In [68]:
my_string[::-1]#reverse string

'yadoT dlroW olleH'

String properties: Immutability

In [69]:
my_string="the_string"

In [70]:
my_string[5]='t'

TypeError: 'str' object does not support item assignment

concatenation

In [72]:
hello = 'hello '

In [73]:
hello += 'world'

In [74]:
hello

'hello world'

In [75]:
hello.capitalize()

'Hello world'

In [76]:
hello.islower()

True

In [77]:
hello

'hello world'

In [78]:
hello.capitalize().islower()

False

In [79]:
my_string

'the_string'

In [80]:
hello

'hello world'

In [81]:
hello.split()

['hello', 'world']

In [83]:
hello='Hello, World'

In [86]:
hello.split(',')

['Hello', ' World']

formating strings

In [88]:
"hello world {}".format("today")#using .fomat()

'hello world today'

In [89]:
"hello world {} {} {}".format("yesterday", "today", 'tomorrow')#using .fomat() with index positions

'hello world yesterday today tomorrow'

In [91]:
"hello world {1} {0} {2}".format("yesterday", "today", 'tomorrow')#using .fomat() with index positions

'hello world today yesterday tomorrow'

In [92]:
"hello world {yes} {tod} {tom}".format(yes="yesterday", tod="today", tom='tomorrow')#using .fomat() with index positions

'hello world yesterday today tomorrow'

In [93]:
result = 100/177 #format floating numbers with format

In [94]:
result

0.5649717514124294

In [95]:
print("result is {r:1.3f}".format(r=result)) #3 decimal places

result is 0.565

In [101]:
name="peter"
print(f'hello {name}') #f string literals

hello peter

Lists: Ordered sequence to hold a variety of object types. Lists support indexing, slicing and can be nested.

In [102]:
my_list=[1,'one','i']

In [103]:
my_list[1]

'one'

In [105]:
my_list[:2]

[1, 'one']

In [106]:
another_list=[1,2,3,4]

In [107]:
another_list+my_list

[1, 2, 3, 4, 1, 'one', 'i']

In [108]:
my_list[2]=1#can mutate

In [109]:
my_list

[1, 'one', 1]

In [112]:
my_list.append(4) #changes the list in place

In [113]:
my_list

[1, 'one', 1, 4, 4]

In [114]:
my_list.pop(-1)# without index, it pops last item, otherwise pop the item in index specified

4

In [115]:
my_list

[1, 'one', 1, 4]

In [2]:
list_1 = ['a','e','b','z','w']

In [3]:
list_1.sort() #sorts in place and doesn't return anything

list_1

In [4]:
list_1

['a', 'b', 'e', 'w', 'z']

In [5]:
list_1.reverse()

In [6]:
list_1

['z', 'w', 'e', 'b', 'a']

dictionaries: unordered mappings for storing objects using key value pairs.

In [7]:
my_dict={'key1':'value1', 'key2':'value2'}
my_dict['key1']

'value1'

In [8]:
prices={'apples':2.99,'oranges':3.55}
prices['apples']

2.99

In [10]:
prices={'apples':2.99,'oranges':{'red':1.20,'seville':3.55}} #can hold other typesprices[]

In [11]:
prices['oranges']['seville']

3.55

In [14]:
prices['mangoes']=5.99

In [15]:
prices

{'apples': 2.99, 'mangoes': 5.99, 'oranges': {'red': 1.2, 'seville': 3.55}}

In [17]:
#useful methods
prices.keys()

dict_keys(['apples', 'oranges', 'mangoes'])

In [18]:
prices.values()

dict_values([2.99, {'red': 1.2, 'seville': 3.55}, 5.99])

In [19]:
prices.items()

dict_items([('apples', 2.99), ('oranges', {'red': 1.2, 'seville': 3.55}), ('mangoes', 5.99)])

Tuples are similar to lists except they are immutable

In [20]:
tup=(1,2,3)

In [21]:
tup

(1, 2, 3)

In [22]:
len(tup)

3

In [23]:
tup.count(2)

1

In [24]:
tup.index(2)

1

In [27]:
tup[1]=5 #immutability useful when you want to retain data integrity and do noyt want data to be changed.

TypeError: 'tuple' object does not support item assignment

Sets: Unordered collection of unique elements

In [28]:
myset=set()

In [30]:
myset

set()

In [31]:
myset.add(1)

In [32]:
myset.add('two')

In [33]:
myset

{1, 'two'}

In [35]:
myset.add(1) #Doesn't add 1 as value has to be unique

In [36]:
myset

{1, 'two'}

In [38]:
dups=[1,2,1,2]#remove dups from list

In [39]:
dups

[1, 2, 1, 2]

In [45]:
unique=list(set(dups))

In [46]:
unique

[1, 2]

In [49]:
set('Mississippi')

{'M', 'i', 'p', 's'}

booleans convey true or false statements

In [50]:
1==1

True

In [52]:
1>3

False

file IO

In [63]:
%%writefile file_for_io.txt
Hellow this is a text file
second line
third file

Overwriting file_for_io.txt

In [97]:
myfile=open('file_for_io.txt')

In [98]:
pwd

'/Users/simiyub/Development/code/python/complete-python-bootcamp-worksheets'

In [99]:
myfile.read()

'Hellow this is a text file\nsecond line\nthird file'

In [100]:
myfile.seek(0)

0

In [109]:
myfile.readlines()

[]

In [110]:
file_path=("myfile.txt")
my_file=open(file_path)

In [111]:
with open("myfile.txt") as my_file:
    contents=my_file.read()
    contents

In [112]:
with open('myfile.txt', mode='r') as my_file:
    print(my_file.read())

permissions
r - read
w - write only (will overwrite or create new)
a - appends to the file
r+ - read and write 
w+ - writing and reading (overwrites existing files or creates a new file!)